/* styles.css */

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 16rem;
    background-color: #2d3748;
    color: #ffffff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .sidebar-header {
    padding: 1rem;
    background-color: #1a202c;
    font-size: 1.25rem;
    font-weight: 600;
  }
  
  .sidebar-menu {
    margin-top: 1rem;
  }
  
  .sidebar-item {
    padding: 1rem;
    cursor: pointer;
  }
  
  .sidebar-item:hover {
    background-color: #4a5568;
  }
  
  .sidebar-item a {
    text-decoration: none;
    color: #ffffff;
    display: block;
  }

.emotion-bar {
  width: 100%;
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50; /* Ensure it appears above the navbar */
  transition: all 0.3s ease-in-out;
}

.emotion-text {
  font-size: 1rem;
  font-weight: 500;
  color: #333;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}

@media (max-width: 768px) {
  .emotion-text {
      font-size: 0.85rem;
  }
}

/* Navbar styles */

header {
  top: 40px; /* Adjust based on the height of the EmotionBar */
  z-index: 40; /* Ensure it appears below the EmotionBar */
}
  